[submodule "api"]
  path = api
  url = git@github.com:sakataku1991/rack_fashion_api.git
[submodule "front"]
  path = front
  url = git@github.com:sakataku1991/rack_fashion_front.git
[submodule "infrastructure"]
  path = infrastructure
  url = git@github.com:sakataku1991/rack_fashion_infrastructure.git
